body {
    font-family: 'Arial', sans-serif;
    background-color: #181818;
    margin: 0;
    padding: 0;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}
h1 {
    font-size: 2.5em;
    margin-bottom: 50px;
    display: inline-block;
    text-transform: uppercase;
    background-size: 200% auto;
    color: transparent;
    animation: textclip 2s linear infinite;
}
.controls-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.language-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.language-logo {
    font-size: 18px;
    margin-right: 8px;
}

#languageDropdown {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: transparent;
    color: #555;
    cursor: pointer;
}

#languageDropdown:hover {
    border-color: #999;
}

#languageDropdown:focus {
    outline: none;
    border-color: #4285f4; 
}

#languageDropdown option {
    background-color: #fff;
    color: #333;
}
.light-mode h1 {
    background-image: linear-gradient(
        -225deg,
        #00c6fb 0%,
        #005bea 29%,
        #00c6fb 67%,
        #005bea 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dark-mode h1 {
    background-image: linear-gradient(
        -225deg,
        #231557 0%,
        #44107a 29%,
        #ff1361 67%,
        #fff800 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}
.toggle-container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}

#toggleModeSwitch {
    position: relative;
    width: 40px;
    height: 20px;
    -webkit-appearance: none;
    background-color: #ccc;
    outline: none;
    border-radius: 20px;
    margin: 0 10px;
    cursor: pointer;
}

#toggleModeSwitch:checked {
    background-color: #4285f4;
}
#toggleModeSwitch::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    transform: translate(2px, 2px);
    transition: transform 0.3s;
}
#toggleModeSwitch:checked::before {
    transform: translate(20px, 2px);
}
#toggleModeLabel {
    color: #fff; 
    font-size: 14px;
    transition: color 0.3s; 
}
.light-mode #toggleModeLabel {
    color: #000; 
}
.container {
    max-width: 900px;
    margin: 80px auto;
    padding: 130px;
    border-radius: 30px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.light-mode {
    background-color: #fff;
    color: #181818;
}

.dark-mode {
    background-color: #181818;
    color: #fff;
}

.search-container {
    position: relative;
}

#suggestionList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 80%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

#suggestionList li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

#suggestionList li:hover {
    background-color: #f4f4f4;
}

button {
    margin-top: 20px;
    padding: 10px 25px;
    background-color: #4285f4;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #3367d6;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #333;
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.3s; 
}

.light-mode .search-bar {
    background-color: #eee; 
}

#searchInput {
    flex: 1; 
    border: none;
    background-color: transparent;
    color: #fff;
    outline: none;
}

.light-mode #searchInput {
    color: #333; 
}

.search-bar:hover #searchInput,
.light-mode .search-bar:hover #searchInput {
    background-color: #444;
}

.search-icons {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.search-icons img {
    width: 20px;
    margin: 0 5px;
    cursor: pointer;
}

.search-icons {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    transition: filter 0.3s; /* Add transition for smooth color change */
}

#searchIcon {
    background-image: url('assests/search.png'); 
}

#micIcon {
    background-image: url('assests/mic.png'); /* Replace with your actual path */
}

/* Adjust icon colors for dark and light modes */
.light-mode #searchIcon,
.light-mode #micIcon {
    filter: invert(0%) grayscale(100%);
}

.dark-mode #searchIcon,
.dark-mode #micIcon {
    filter: invert(100%) grayscale(100%);
}

