body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

.light-mode {
    background-color: #fff;
    color: #181818;
}

.dark-mode {
    background-color: #181818;
    color: #fff;
}

.container {
    max-width: 900px;
    margin: 80px auto;
    padding: 130px;
    border-radius: 30px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.container {
    max-width: 900px;
    margin: 80px auto;
    background-color: #fff;
    padding:130px;
    border-radius: 30px;
    box-shadow: 2 2 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.search-container input:hover {
    background-color: #e0e0e0; /* Change this color to your desired hover color */
}
body {
    scrollbar-width: thin;
    scrollbar-color: #333 #f8f8f8;
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-thumb {
    background-color: #333;
}

body::-webkit-scrollbar-track {
    background-color: #f8f8f8;
}

img {
    width: 100px;
    margin-bottom: 20px;
}

.search-container {
    position: relative;
}

input {
    margin-top: 15px;
    width: 70%;
    padding: 10px;
    border-radius: 30px;
    border: solid;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 80%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

#suggestionList li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

#suggestionList li:hover {
    background-color: #f4f4f4;
}

button {
    margin-top: 20px;
    padding: 10px 25px;
    background-color: #4285f4;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #3367d6;
}

.search-icons {
    display: flex;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.search-icons img {
    width: 20px;
    margin: 0 5px;
    cursor: pointer;
}